@use "../abstract/" as *;
@use "../base/" as *;
@use "../layout/" as *;

.about {
  position: relative;
  margin-top: -650px;
  z-index: 2;
  margin-bottom: 4rem;

  h2 {
    text-align: center;
    font-family: $font-secondary;
    padding: 2rem 0;
  }
  h1 {
    font-family: $font-secondary;
  }

  img {
    max-width: unset;
    @include imgFit(90rem, 55rem);
  }

  &__wrapper {
    margin-top: 4rem;
    @include gridCustom(4fr 2fr, 4rem); // left = 3fr, right = 2fr
    h2 {
      text-align: left;
      max-width: 120rem;
    }
    p {
      text-align: justify;
    }
  }

  &__right {
    h3 {
      text-align: left;
      margin-bottom: 2rem;
      font-family: $font-secondary;
      color: $clr--primary;
    }
  }

  &__wrapper-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__card {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    img {
      @include imgFit(150px, 190px);
    }

    .recipes__info {
      h4 {
        font-family: $font-secondary;
        margin: 0.5rem 0;
      }

      .recipes__stars {
        color: $clr--primary;
        padding: 0.5rem 0;
      }
    }
  }
}


@include mediaQuery(520px) {
  .about {
    margin-top: -400px;
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
      padding: 1.5rem 0;
      text-align: center;
    }

    h1 {
      font-size: 2.5rem;
      text-align: center;
    }

    img {
      @include imgFit(100%, auto); 
    }

    &__wrapper {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      h2 {
        text-align: center;
        max-width: 100%;
      }

      p {
        text-align: justify;
        font-size: 0.9rem;
      }
    }

    &__right {
      h3 {
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
      }
    }

  .about {
    &__wrapper-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);   
      gap: 1rem;                             
      margin-top: 2rem;
    }

    &__card {
      flex-direction: column; 
      align-items: center;
      text-align: center;

      img {
        @include imgFit(120px, 150px); 
      }

      .recipes__info {
        h4 {
          font-size: 1rem;
        }
        .recipes__stars {
          font-size: 0.9rem;
          padding: 0.3rem 0;
        }
      }
    }
  }
  }
}