@use "../abstract/" as *;
@use "../base/" as *;
@use "../layout/" as *;

.contacts {
  position: relative;
  margin-top: -650px;
  z-index: 2;
  margin-bottom: 4rem;

  h2 {
    text-align: center;
    font-family: $font-secondary;
    padding: 2rem 0;
  }

  h1 {
    font-family: $font-secondary;
  }

  img {
    max-width: unset;
    @include imgFit(90rem, 55rem);
  }

  // Wrapper for both columns
  &__wrapper {
    margin-top: 4rem;
    @include gridCustom(4fr 2fr, 4rem);
    text-align: left;
  }

  // Left Column
  &__left-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

// Right Column
&__right {
  height: 470px;
  margin-left: 2rem;
  padding: 2rem;
  background-color: $clr--primary;
  display: flex;
  align-items: center;
    margin-top: 8rem;
}

&__info {
  width: 100%;
  max-width: 400px;

}

&__info h3 {
  font-family: $font-secondary;
  color: $clr--light;
  margin-bottom: 2rem;
}

&__item {
  margin-bottom: 2rem;
}

&__label {
  display: block;
  color: $clr--light;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

&__row {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  color: $clr--light;
  line-height: 1.5;
}

&__row i {
  margin-top: 4px; // aligns icon nicely with text
}

&__row--address {
  max-width: 320px;
}
}

.card {
  margin: 0;
  width: 100%;
  margin-top: 4rem;
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label {
      margin-bottom: 0.5rem;
      font-weight: 500;
    }

    input,
    textarea {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
    }

    textarea {
      resize: vertical;
      min-height: 250px;
    }
  }

  .btn {
    padding: 0.5rem 1rem;
    border: none;
    background-color: $clr--primary;
    color: $clr--light;
    cursor: pointer;
  }
}
