@use "../abstract/" as *;
@use "../base/" as *;

.CTA {
  padding: 6rem 0;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5)),
    // this is the overlay
    url("../../images/bell_pepper.jpeg"); // the image
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 35rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    h1 {
      text-align: center;
      font-family: $font-secondary;
      color: #ffffff;
    }
    p {
      text-align: center;
      font-family: $font-secondary;
      color: #ffffff;
    }
  }

  &__form {
    margin-top: 4rem;
    .subscribe {
      display: flex;
      max-width: 500px;
      width: 100%;
      margin: 0 auto;

      input {
        flex: 1;
        padding: 0.75rem 1rem;

        border-radius: 5px 0 0 5px;
        outline: none;

        &:focus {
          border-color: $clr--primary;
        }
      }

      .btn {
        padding: 0.75rem 1.5rem;
        border-radius: 0 5px 5px 0;
        border: none;
        background-color: $clr--primary;
        color: #fff;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: darken($clr--primary, 10%);
        }
      }
    }
  }
}
